body {
    background-color :#61636b;
    font-family: "Microsoft Yahei Light", "Century Gothic", "Segoe UI Light", "Open Sans Light", "Apple Gothic", sans-serif ;
    color : #61636b ;
}

#imageEntete {
    width : 100% ;
    height : auto ;
}

#imageEnteteimg {
    width:100%;
    height : auto;
}

.divGeneral3 {
    margin-top : 2% ;
    width : 100% ;
    color : white ;
    font-size : 12px ;
    font-style: italic ;
    background-color : #808288 ;
}
